[Desktop Entry]
Type=Application
Version=1.0
Name=逃费车辆智能查询平台
Comment=逃费车辆查询、回填与数据同步客户端
Exec=/opt/apps/com.e23aqiu.intdemo/files/intdemo-client
Icon=/opt/apps/com.e23aqiu.intdemo/files/app-icon.png
Terminal=false
Categories=Office;Utility;
StartupNotify=true
StartupWMClass=IntDemo
